footer {
    margin-top: 2rem;
  background-color: #526d82;
  color: #fff;
  padding: 1rem;
  text-align: center;

  border-top: 2px solid #333333;

  a {
    color: #fff;
    text-decoration: none;
  }
}
